@import "./variables";
//@import "./fonts";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  position: relative;
  max-width: 450px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0 ;
  //border: 1px red solid;
  min-height: 100vh;
  //background-color: $background-color;

  background-color:$background-color;

  //font-synthesis: none;
  //text-rendering: optimizeLegibility;
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
  //-webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #389AF5;
  //text-decoration: none;
  //border-bottom:1px solid #389AF5 ;
}
//a:hover {
//  color: #535bf2;
//}
//
//a {
//  font-weight: 500;
//  color: #646cff;
//  text-decoration: inherit;
//}
//a:hover {
//  color: #535bf2;
//}
//
body {
  width: 100%;
  //margin: 0;
  //display: flex;
  //place-items: center;
  //min-width: 320px;
  //min-height: 100vh;
}
//
//h1 {
//  font-size: 3.2em;
//  line-height: 1.1;
//}

//button {
//  border-radius: 8px;
//  border: 1px solid transparent;
//  padding: 0.6em 1.2em;
//  font-size: 1em;
//  font-weight: 500;
//  font-family: inherit;
//  background-color: #1a1a1a;
//  cursor: pointer;
//  transition: border-color 0.25s;
//}
//button:hover {
//  border-color: #646cff;
//}
//button:focus,
//button:focus-visible {
//  outline: 4px auto -webkit-focus-ring-color;
//}
//
//.card {
//  //padding: 2em;
//}

#app {
  position: relative;
  max-width: 450px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0 ;
  //border: 1px red solid;
  min-height: 100vh;
  //background-color: $background-color;

}
.border-red {
  border: 1px solid red;
}

.border-green {
  border: 1px green solid;
}

.border-grey {
  border: 1px solid grey;
}

