@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@font-face {
  font-family: "LibreBaskervilleRegular";
  src: url("../fonts/LibreBaskerville-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "LibreBaskervilleItalic";
  src: url("../fonts/LibreBaskerville-Italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "ParisienneRegular";
  src: url("../fonts/Parisienne-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LibreBaskervilleBold";
  src: url("../fonts/LibreBaskerville-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LibreCaslonRegular";
  src: url("../fonts/LibreCaslonText-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Italianno";
  src: url("../fonts/Italianno-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}